form {
    width: 40%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    padding: 0 0 4.4rem 0;
    flex-direction: column;
    z-index: 3000;
    justify-content: space-between;
    transition: all ease .5s
}
.all-header-text {
    width: 100%;
    height: 6rem;
    padding: 0 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.all-header-text a {
    color: var(--secundary-text-color);
    margin-left: 1.2rem;
    font-size: 1.2rem;
}

.container-register {
    width: 60%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.register {
    width: 100%;
    line-height: 1.5;
}
.register span {
    font-size: 1.6rem;
    font-weight: 500;
}
.register p {
    font-size: 0.8rem;
} 
.register p a {
    color: var(--button-color);
}
.register p a:hover {
    text-decoration: underline;
}

.input-block {
    width: 100%;
    margin-top: 1rem;
}
.input-block input {
    width: 100%;
    height: 2.8rem;
    padding:0 1rem;
    outline: none;
    border: 1px solid #c5c6c7;
}
.input-block input:focus {
    border: 1.5px solid #000;
} 

.accept-terms {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:1rem;
    color: #637381;
}
.accept-terms input { 
    width: 20px;
    height: 20px;
    border: 1px solid #637381;
    margin-right: 0.6rem;
}
.accept-terms a {
    color: var(--button-color);
}

.container-register button {
    width: 100%;
    height: 3rem;
    border: none;
    margin-top: 1rem;
    background-color: var(--button-color);
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}
.register-with-google {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    border: 1px solid #637381;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.register-with-google img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
}